body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f9e6ff; 
  color: #4a148c; 
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.header {
  width: 100%;
  text-align: center;
  padding: 20px;
  background-color: #d47e9b; 
  color: white;
  margin-bottom: 20px;
}

.connect-wallet-button {
  background-color: #9c27b0; 
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
}

.connect-wallet-button:hover {
  background-color: #7b1fa2; 
}

.main {
  width: 100%;
  max-width: 600px;
}

.section {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.section h2 {
  margin-top: 0;
  color: #e96390; 
}

.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.form input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form button {
  background-color: #9c27b0; /* Mor buton rengi */
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
}

.form button:hover {
  background-color: #7b1fa2; /* Hover rengi */
}